*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table{
    border-collapse: collapse;
    background-color: teal;
    margin: 20px auto;
}

td{
    border: 1px solid black;
    padding: 30px;
    text-align: center;
    height: 100px;
    width: 85px;
}