#hobby {
	display: block;
	width: 600px;
	height: 400px;
	margin: 0 auto;
	object-fit: cover;
}

p {
    text-align: center;
    margin: 20px auto;
    font-size: 20px;
}

a {
    display: block;
    width: fit-content;
    margin: 20px auto;
    font-size: 20px;
}

body{
    background-color: rgb(128, 155, 156);
}