*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    background-color: rgb(255, 59, 78);
    width: 450px;
    padding: 40px;
    margin: 50px auto;
}

input, textarea{
    width: 100%;
    background-color: rgb(184, 42, 56);
    color: white;
    border: none;
    padding: 15px;
    margin-bottom: 20px;
    display: block;
}

button{
    width: 100%;
    background-color: white;
    color: rgb(255, 59, 78);
    border: none;
    padding: 15px;
}

button:hover{
    background-color: rgb(156, 75, 83);
    color: white;
    cursor: pointer;
}