*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(244, 244, 244);
}

nav{
    background: black;
    color: white;
    padding: 15px;
    overflow: auto;
}

nav h1{
    float: left;
    font-size: 22px;
}

nav ul{
    float: left;
    margin-left: 50px;
}

nav ul li{
    display: inline-block;
    margin: 5px 15px;
    font-weight: bold;
    font-size: 14px;
}

#live{
    color: red;
}

nav i{
    float: right;
    margin-top: 5px;
}

main{
    width: 95%;
    margin: 20px auto;
    overflow: auto;
}

main ul{
    float: left;
    width: 5%;
}

main ul li{
    margin-bottom: 25px;
    font-size: 20px;
    color: rgb(85, 85, 85);
}

section{
    float: left;
    width: 95%;
}

article{
    background: white;
    width: 30%;
    margin: 10px;
    float: left;
    border: 1px solid rgb(214, 212, 212);
    height: 330px;
}

article img{
    width: 100%;
    height: 180px;
}

article h3{
    font-size: 15px;
    padding: 10px;
    height: 65px;
}

article p{
    color: rgb(241, 93, 7);
    font-size: 11px;
    font-weight: bold;
    padding: 0 10px;
    margin-bottom: 10px;
}

article i{
    padding: 5px 10px;
    font-size: 13px;
    color: #555;
}

i:hover,ul li:hover{
    color: blue;
    cursor: pointer;
}

nav:hover,article:hover{
    cursor: pointer;
}