*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    text-align: center;
}

h1{
    margin-top: 15px;
    color: rgb(21, 0, 71);
}

body{
    background-image: url(./anneofgreengables.png), url(./harrypotter.png);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 200px, 190px;
    background-color: rgb(221, 246, 255);
}

p{
    width: 300px;
    margin: 15px auto;
    color: rgb(42, 3, 78);
}